{% extends 'base.html' %}

{% block style %}
    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    {{ super() }}

    <section class="jumbotron" id="header">
        <div class="svg-container">
            {% if _("en") == "it" %}
                {% include 'svg/polimipride_logo_it.svg' %}
            {% else %}
                {% include 'svg/polimipride_logo_en.svg' %}
            {% endif %}
        </div>
    </section>


    <section id="project" class="section-white">
        <div class="container container-narrow">
            <h1 class="color-1">{{ _("Politecnico's Pride") }}</h1>
            <p>
                {{ _("PoliMi Pride is PoliEdro's initiative to bring Milano Pride to Politecnico di Milano and, at the same time, to bring Politecnico to Milano Pride.") }}<br>
                {{ _("The Pride Parade is a manifestation of gay, lesbian, bisexual, transexual, asexual, intersex and queer pride: an extraordinary celebration of freedom that has now reached Politecnico di Milano.") }}
            </p>
            <p>
                {{ _("For the third year Politecnico di Milano has given its patronage to the Milano Pride, officially supporting our activities inside the campuses and so telling everyone that in our university diversities are an enrichment and everyone should feel welcome and safe.") }}
            </p>
            <p>
                {{ _("The event will have its grand finale with the <a href='http://www.milanopride.it'>Milano Pride</a> Parade on June 29th through the streets of Lombardy's chief town, but there's more:") }}<br>
                {{ _("PoliMi Pride will span through whole month of May with in-depth events on the meaning and the history of Pride and on LGBTI+ themes in order to celebrate all together the 50th anniversary of the Stonewall riots!") }}
            </p>
        </div>
    </section>

    <!--section id="promovideo">
        <div class="container container-narrow">
            <div class="video-wrapper">
                <iframe src="https://www.youtube-nocookie.com/embed/BahFv0gU0z8" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </section-->

    <section id="program" class="section-white">
        <div class="container container-narrow">
            <h1 class="color-2">{{ _("Events") }}</h1>
            <p>
                {{ _("We're still not done with all the planning for our events. Follow our <a href='https://poliedro-polimi.it/#social'>social media</a> to stay updated with our news.") }}
            </p>

            <div class="row">
                <div class="calendar-card-wrapper col-12 col-sm-6 {{ expire_on(1558713600) }}">
                    <div class="calendar-card">
                        {% for section in calendar_card_order %}
                            {% if section == 'w' %}
                                <p class="event-dow">
                                    {{ _("Monday") }} - {{ _("Friday") }}
                                </p>
                            {% elif section == 'd' %}
                                <p class="event-day">
                                    20<small>{{ numeral(20) }}</small>-24<small>{{ numeral(24) }}</small>
                                </p>
                            {% elif section == 'm' %}
                                <p class="event-month">
                                    {{ _("May") }}
                                </p>
                            {% elif section == 'l' %}
                                <p class="event-loc-time">
                                    <i class="fas fa-map-marker"></i> <a
                                        href="https://www.google.com/maps/@45.4787384,9.2271554,20.75z"
                                        target="_blank" rel="noopener">{{ _("Building 2 Corridors, Leonardo") }}</a><br />
                                    <i class="fas fa-map-marker"></i> <a
                                        href="https://goo.gl/maps/uUBpQ4n2PjsvCbmT8"
                                        target="_blank" rel="noopener">{{ _("Building BL.28, Bovisa") }}</a><br />
                                </p>
                            {% elif section == 't' %}
                                <p class="event-title">
                                    {{ _("Stonewall riots 50th Anniversary") }}
                                </p>
                            {% elif section == 'b' %}
                                <p class="event-btn">
                                    <a class="btn"
                                       href="https://www.facebook.com/events/1685877741713784/" target="_blank" rel="noopener"><i
                                            class="fab fa-facebook-f"></i> {{ _("Facebook event") }}</a>
                                </p>
                            {% endif %}
                        {% endfor %}</div>
                </div>


                <div class="calendar-card-wrapper col-12 col-sm-6 col-md-4 {{ expire_on(1527627600) }}">
                    <div class="calendar-card">
                        {% for section in calendar_card_order %}
                            {% if section == 'w' %}
                                <p class="event-dow">
                                    {{ _("Friday") }}
                                </p>
                            {% elif section == 'd' %}
                                <p class="event-day">
                                    31<small>{{ numeral(31) }}</small>
                                </p>
                            {% elif section == 'm' %}
                                <p class="event-month">
                                    {{ _("May") }}
                                </p>
                            {% elif section == 'l' %}
                                <p class="event-loc-time">
                                    <i class="far fa-clock"></i> {{ localtime(18, 15) }} &nbsp;
                                    <i class="fas fa-map-marker"></i> <a
                                        href="#"
                                        target="_blank" rel="noopener">{{ _("T.B.D. Location") }}</a>
                                </p>
                            {% elif section == 't' %}
                                <p class="event-title">
                                    {{ _("Discussion meeting: the nature of Pride") }}
                                </p>
                            {% elif section == 'b' %}
                                <p class="event-btn">
                                    <a class="btn"
                                       href="#" target="_blank" rel="noopener"><i
                                            class="fab fa-facebook-f"></i> {{ _("Facebook event") }}</a>
                                </p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="calendar-card-wrapper col-12 col-sm-6 {{ expire_on(1559319300) }}">
                    <div class="calendar-card calendar-card-stands">
                        {% for section in calendar_card_order %}
                            {% if section == 'w' %}
                                <p class="event-dow">
                                    {{ _("Monday") }} - {{ _("Friday") }}
                                </p>
                            {% elif section == 'd' %}
                                <p class="event-day">
                                    24<small>{{ numeral(24) }}</small>-28<small>{{ numeral(28) }}</small>
                                </p>
                            {% elif section == 'm' %}
                                <p class="event-month">
                                    {{ _("June") }}
                                </p>
                            {% elif section == 'l' %}
                                <p class="text-center"><i class="far fa-clock"></i> {{ localtime(10, 00) }}-{{ localtime(16, 00) }}<br></p>
                                <p class="event-loc-time">
                                    <i class="fas fa-map-marker"></i> <a
                                        href="https://goo.gl/maps/shM8yrZMyWF2"
                                        target="_blank" rel="noopener">{{ _("Solarium Square") }}, Leonardo</a><br>
                                    <i class="fas fa-map-marker"></i> <a
                                        href="https://goo.gl/maps/PGseBXs9SNF2"
                                        target="_blank" rel="noopener">{{ _("Oval Square") }}, Bovisa Candiani</a><br>
                                    <i class="fas fa-map-marker"></i> <a
                                        href="https://goo.gl/maps/hQKDXXtu1E32"
                                        target="_blank" rel="noopener">{{ _("BL27-BL28 Buildings") }}, Bovisa La Masa</a><br>
                                </p>
                            {% elif section == 't' %}
                                <p class="event-title">
                                    <i>{{ _("PoliMi Pride stands! Come pick up your gadgets!") }}</i>
                                </p>
                            {% elif section == 'b' %}
                                <p class="event-btn">
                                    <a class="btn"
                                       href="#" target="_blank" rel="noopener"><i
                                            class="fab fa-facebook-f"></i> {{ _("Facebook event") }}</a>
                                </p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>


                <div class="calendar-card-wrapper col-12 col-sm-6 {{ expire_on(1561813200) }}">
                    <div class="calendar-card">
                        {% for section in calendar_card_order %}
                            {% if section == 'w' %}
                                <p class="event-dow">
                                    {{ _("Saturday") }}
                                </p>
                            {% elif section == 'd' %}
                                <p class="event-day">
                                    29<small>{{ numeral(29) }}</small>
                                </p>
                            {% elif section == 'm' %}
                                <p class="event-month">
                                    {{ _("June") }}
                                </p>
                            {% elif section == 'l' %}
                                <p class="event-loc-time">
                                    <i class="far fa-clock"></i> {{ localtime(14, 00) }}<br>
                                    <i class="fas fa-map-marker"></i> <a
                                        href="https://goo.gl/maps/Ss4dwhCo5HR2"
                                        target="_blank" rel="noopener">Via Vitruvio - Centrale FS M2 M3</a>
                                </p>
                            {% elif section == 't' %}
                                <div class="event-title polimipride-svg-wrapper">
                                    {% include 'svg/milanopride_colored.svg' %}
                                </div>
                            {% elif section == 'b' %}
                                <p class="event-btn">
                                    <a class="btn"
                                       href="http://milanopride.it/" target="_blank" rel="noopener"><i
                                            class="fas fa-external-link-alt"></i> {{ _("Visit website") }}</a>
                                </p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>


        </div>
    </section>

    <section id="history" class="section-white">
        <div class="container container-narrow">
            <h1 class="color-3">{{ _("A bit of history") }}</h1>
            <p>
                {{ _("In 2017, for the first time, we asked our University to officially support Milano Pride. The only thing we were asking for was the recognition of an important event and a demonstration of Politecnico being on our side. The recognition came stronger than we could ever expect: pushed by the support and enthusiasm of PoliMi's representatives, staff and teachers, we were advised to make something bigger. ") }}
            </p>
            <p>
                {{ _("That's how PoliMi Pride was born: with the synergy of Polytechnic community we set up informative stands around the campuses, printed our pins, t-shirts, banners and flags and went all together to march at Milano Pride.") }}
            </p>
            <p>
                {{ _("This year Politecnico decided to renew its patronage to the initiative, and we couldn't be more happy and proud of our university.") }}
            </p>
            <p>
                {{ _("PoliMi Pride will celebrate its third edition with more events, more gadgets and a 50th anniversary exhibition!") }}
            </p>
        </div>
    </section>

    <section id="about" class="section-white">
        <div class="container container-narrow">
            <h1 class="color-4">{{ _("About us") }}</h1>
            <p>
                {{ _("We are a group of students of Politecnico di Milano. We want to raise awareness of the issues of the LGBTI+ community (Lesbian, Gay, Bisexual, Trans*, Intersexual and all the other nuances) by organizing events, conferences, talks and meetings about these topics. We try to be a landmark for students who feel discriminated in the University environment.") }}
            </p>
            <p class="text-center">
                <a href="https://poliedro-polimi.it/{{ _("en") }}/" target="_blank"
                   class="btn btn-lg btn-polimipride">{{ _("Visit our website") }} <i
                        class="fas fa-external-link-alt"></i></a>
            </p>
        </div>
    </section>


    <section class="section-white">
        <div class="container container-narrow">
            <h1 class="color-5">{{ _("Why we do it") }}</h1>
            <p>
                {{ _("The University is a place where we spend a lot of our time, trying to develop our knowledge and skills for a better life and career. It’s stressful sometimes, but we think it’s even worse when one feels out of place, when one doesn’t feel safe enough to be oneself.") }}
            </p>
            <p>
                {{ _("We think a University should do its best to show its student it’s doing the best it can to make them feel at home.") }}<br>
                {{ _("We think a University should care about diversity and inclusion and promote them, so students will know they can be Proud of who they are and of what makes them different.") }}
            </p>
            <p>
                {{ _("That’s what PoliMi Pride is all about: attending Milano Pride is the tip of the iceberg.") }}
            </p>
        </div>
    </section>

    <section id="support" class="section-white">
        <div class="container container-narrow">
            <h1 class="color-6">{{ _("How to support the project") }}</h1>
            <p>
                {{ _("Our designer team made new graphics and gadgets for this edition of PoliMi Pride, so all of us can join the colors of the Parade on June 29th.") }}
            </p>
            <p>
                {{ _("We need your support: we launched a <strong>crowdfunding campaign</strong> to gather all the funds we need to order all PoliMi Pride gadgets.") }}
            </p>
            <p class="text-center">{{ _("With a small donation to our project:") }}</p>
            <ul>
                <li>{{ _("you get PoliMi Pride-branded pins, wristbands, pullers, sackpacks and t-shirts.") }}</li>
                <li>{{ _("we get the money we need to order the gadgets, provide for the expenses of our events and organize even better events in the future!") }}</li>
            </ul>
            <p class="text-center">
                {{ _("Pick your favourite gadgets!") }}
                <br>
                <a href="https://donate.poliedro-polimi.it/{{ _("en") }}/"
                   class="btn btn-lg btn-polimipride"><i>{{ _("Support us now") }}!</i></a>
            </p>
        </div>
    </section>

{% endblock %}
