{% extends 'base.html' %}

{% block style %}
    {{ super() }}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block content %}
    {{ super() }}

    <section class="jumbotron" id="header">
        <div class="svg-container">
            {% if _("en") == "it" %}
                {% include 'svg/polimipride_logo_it.svg' %}
            {% else %}
                {% include 'svg/polimipride_logo_en.svg' %}
            {% endif %}
        </div>
    </section>


    <section id="project" class="section-white">
        <div class="container container-narrow">
            <h1 class="color-1">{{ _("Politecnico's Pride") }}</h1>
            <p>
                {{ _("PoliMi Pride is PoliEdro's initiative to bring Milano Pride to Politecnico di Milano and, at the same time, to bring Politecnico to Milano Pride.") }}<br>
                {{ _("The Pride Parade is a manifestation of gay, lesbian, bisexual, transexual, asexual, intersex and queer pride: an extraordinary celebration of freedom that has now reached Politecnico di Milano.") }}
            </p>
            <p>
                {{ _("The event will have its grand finale with the <a href='http://www.milanopride.it'>Milano Pride</a> Parade on June 30th through the streets of Lombardy's chief town, but there's more:") }}<br>
                {{ _("PoliMi Pride will span through whole month of June with in-depth events on the meaning and the history of Pride and on LGBTI+ themes. We'll have conferences, movies, informative stands and colorful gadgets.") }}
            </p>
            {# p class="text-center">
            <a href="https://poliedro-polimi.it/{{ _("en") }}/"
               class="btn btn-lg btn-polimipride">{{ _("Visit our website") }}</a>
        </p-->#}
        </div>
    </section>

    <section id="program" class="section-white">
        <div class="container container-narrow">
            <h1 class="color-2">{{ _("The program") }}</h1>

            <p class="text-center">{{ _("Coming soon") }}</p>
            <p>
                {{ _("We're still not done with all the planning for our events. Follow our <a href='https://poliedro.polimi.it/#social'>social media</a> to stay updated with our news.") }}
            </p>

            {#<div class="row bullet-row">
        <div class="col-12 col-md-6">
            Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava
            bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko
            zucchini.
        </div>
        <div class="col-12 col-md-6">
            Celery quandong swiss chard chicory earthnut pea potato. Salsify taro catsear garlic gram celery
            bitterleaf wattle seed collard greens nori. Grape wattle seed kombu beetroot horseradish carrot
            squash brussels sprout chard.
        </div>
    </div>#}
        </div>
    </section>

    <section id="history" class="section-white">
        <div class="container container-narrow">
            <h1 class="color-3">{{ _("A bit of history") }}</h1>
            <p>
                {{ _("In 2017, for the first time, we asked our Univesity to officially support Milano Pride. The only thing we were asking for was the recognition of an important event and a demonstration of Politecnico being on our side. The recognition came stronger than we could ever expect: pushed by the support and enthusiasm of PoliMi's representatives, staff and teachers, we were advised to make something bigger.") }}
            </p>
            <p>
                {{ _("That's how PoliMi Pride was born: with the synergy of Polytechnic community we set up informative stands around the campuses, printed our pins, t-shirts, banners and flags and went all together to march at Milano Pride.") }}
            </p>
            <p>
                {{ _("This June, PoliMi Pride will celebrate its second edition with more events, stands and gadgets!") }}
            </p>
        </div>
    </section>

    <section id="about" class="section-white">
        <div class="container container-narrow">
            <h1 class="color-4">{{ _("About us") }}</h1>
            <p>
                {{ _("We are a group of students of Politecnico di Milano. We want to raise awareness of the issues of the LGBTI+ community (Lesbian, Gay, Bisexual, Trans*, Intersexual and all the other nuances) by organizing events, conferences, talks and meetings about these topics. We try to be a landmark for students who feel discriminated in the University environment.") }}
            </p>
        </div>
    </section>


    <section class="section-white">
        <div class="container container-narrow">
            <h1 class="color-5">{{ _("Why we do it") }}</h1>
            <p>
                {{ _("The University is a place where we spend a lot of our time, trying to develop our knoweledge and skills for a better life and career. It’s stressful sometimes, but we think it’s even worse when one feels out of place, when one doesn’t feel safe enough to be oneself.") }}
            </p>
            <p>
                {{ _("We think a University should do its best to show its student it’s doing the best it can to make them feel at home.") }}<br>
                {{ _("We think a University should care about diversity and inclusion and promote them, so students will know they can be Proud of who they are and of what makes them different.") }}
            </p>
            <p>
                {{ _("That’s what PoliMi Pride is all about: attending Milano Pride is the tip of the iceberg.") }}
            </p>
        </div>
    </section>

    <section id="support" class="section-white">
        <div class="container container-narrow">
            <h1 class="color-6">{{ _("How to support the project") }}</h1>
            <p>
                {{ _("Our designer team made new graphics and gadgets for this edition of PoliMi Pride, so all of us can join the colors of the Parade on June 30th.") }}
            </p>
            <p>
                {{ _("We need your support: we launched a <strong>crowdfunding campaign</strong> to gather all the funds we need to order all PoliMi Pride gadgets.") }}
            </p>
            <p class="text-center">{{ _("With a small donation to our project:") }}</p>
            <ul>
                <li>{{ _("you get PoliMi Pride-branded pins, stickers, sackpacks and t-shirts.") }}</li>
                <li>{{ _("we get the money we need to order the gadgets, provide for the expenses of our events and organize even better events in the future!") }}</li>
            </ul>
            <p class="text-center">
                {{ _("Pick your favourite gadgets!") }}
                <br>
                <a href="#support" class="btn btn-lg btn-polimipride"><i>{{ _("(Coming soon)") }}</i></a>
            </p>
        </div>
    </section>

{% endblock %}
