<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">

    {% seo %}

    {% include head.html %}


</head>
<body>

{% include nav.html %}

<section class="jumbotron" id="header">
    <div class="outer-center">
        <div class="inner-center">
            <div class="container">
                <h1 class="section-title">{{ site.title | default: site.github.repository_name }}</h1>
                <p class="section-content">
                    {{ site.description | default: site.github.project_tagline }}
                </p>
            </div>
        </div>

        <div class="up-down-arrow">
            <h2><i class="fa fa-chevron-down"></i></h2>
        </div>
    </div>
</section>
<!--
<header class="page-header">
    <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
    <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
    <div class="align-bottom">
        <a href="#" class="btn" id="scopridipiubtn">Scopri di più</a>
    </div>
</header>-->

<section class="main-content">
    {{ content }}

    <footer class="site-footer">
          <span class="site-footer-owner"><a href="https://polimipride.it">PoliMi Pride</a> è un'iniziativa realizzata da <a
                  href="{{ site.github.owner_url }}">PoliEdro</a> con il contributo del <a href="https://polimi.it"
                                                                                           target="_blank">Politecnico di Milano</a>.</span>
        <span class="site-footer-credits">Questo sito è stato generato utilizzando <a
                href="{{ site.github.repository_url }}">GitHub Pages</a>.</span>
    </footer>
</section>

{% include scripts.html %}
</body>
</html>