:root {
    --margin-full: 10px;
    --margin-half: 5px;
    --padding-full: 10px;
    --padding-half: 5px;
    --navbar-height: calc(60px + var(--margin-full) * 2);
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: var(--navbar-height) 0 0;
    font-family: sans-serif;
}

body div, body span {
    outline: solid black 2px;
    background: white;
}

#footer {
    display: flex;
    padding: var(--padding-full);
    justify-content: space-evenly;
    align-items: center;
}

#footer-poliedro,
#footer-sponsor {
    width: 40vw;
    display: flex;
    flex-direction: column;
}

#footer-sponsor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

#handle-container {
    display: flex;
    padding: var(--padding-half);
}

#handle-text {
    padding: var(--padding-full);
}

.handle-icon {
    margin: var(--margin-full) var(--margin-half);
    width: 25px;
    height: 25px;
    display: inline-block;
}

.handle-icon:first-child {
    margin-left: var(--margin-full);
}

.handle-icon:last-child {
    margin-right: var(--margin-full);
}

#handle, #hashtag {
    font-size: 1.5em;
    padding: var(--padding-full);
}

#footer-sponsor>span {
    width: 300px;
    height: 150px;

}

.space {
    flex-grow: 1;
    outline: none;
    background: transparent;
}

