:root {
    --margin-full: 10px;
    --margin-half: 5px;
    --padding-full: 10px;
    --padding-half: 5px;
    --navbar-height: calc(60px);
    --text-size-smaller: 0.7em;
    --text-size-small: 0.75em;
    --text-size-normal: 1em;
    --text-size-big: 1.25em;
    --text-size-bigger: 1.5em;
    --text-size-biggest: 2em;
    --text-size-huge: 2.5em;
    --text-color-positive: #222;
    --background-positive: #FFF;
    --background-day-night: var(--background-positive);
    --text-color-day-night: var(--text-color-positive);
    --text-color-negative: #F8F8F8;
    --background-negative: #111;
}

* {
    -webkit-tap-highlight-color: transparent;
}

#content-container > * {
    overflow-y: hidden;
}

#content-container > * {
    /*overflow-y: hidden;*/
}

html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

/* unvisited link */
a:link,
a:visited,
a:hover,
a:active {
    position: relative;
    color: var(--text-color-day-night);
    text-decoration: none;
}

@media (pointer: fine) {

    a:not(.no-underline)::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--link-underline-color);
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    a:not(.no-underline):hover::before {
        transform: scaleX(1);
    }
}

body {
    width: 100%;
    min-height: 100%;
    font-size: 16px;
    margin: var(--navbar-height) 0 0;
    font-family: 'Space Grotesk', sans-serif;
    background-color: var(--background-day-night);
    --link-underline-color: var(--text-color-day-night);
    color: var(--text-color-day-night);
    transition: color 1s, background-color 1s;
}

body.dark {
    --background-day-night: var(--background-negative);
    --text-color-day-night: var(--text-color-negative);
}

#day,
#night {
    transition: transform 1s;
    transform-origin: 125px 125px;
}

#day {
    transform: rotate(0deg);
}

#night {
    transform: rotate(-180deg);
}

body.dark #night {
    transform: rotate(0deg);
}

body.dark #day {
    transform: rotate(180deg);
}

.brush-animated {
    width: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
    z-index: -1;
    background-color: transparent;
}

.img {
    background: lightgray;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.block-container {
    margin: 0 calc(var(--margin-full) * 4);
}

.simple-text {
    font-size: var(--text-size-big);
    line-height: calc(var(--text-size-big) * 1.5);
    margin: var(--text-size-big) 0;
    padding: 0 12%;
    text-justify: inter-word;
    text-align: justify;
}

.text-image {
    clip-path: url(#clip-brush-fixed-big);
    width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

#nav-banner {
    position: fixed;
    height: var(--navbar-height);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    align-items: center;
    justify-items: center;
    top: 0;
    left: 0;
    z-index: 100;
}


#brush-nav-back {
    background-image: url('/res/brushes/brush_nav_back.webp');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: calc(var(--navbar-height) * 1.4);
    width: 100%;
    top: calc(var(--navbar-height) * -0.2);
    left: 0;
    z-index: -1;
    opacity: 1;
    transition: opacity 1s;
}

#brush-nav-1 {
    background-image: url('/res/brushes/brush_nav_1.webp');
    height: calc(var(--navbar-height) * 1.4);
    width: calc(var(--navbar-height) * 1.4 * 966 / 279);
    top: calc(var(--navbar-height) * -0.2);
    left: calc(100% / 7 * 0.5 - var(--navbar-height) * 1.4 * 966 / 279 / 2);
    clip-path: url(#clip-brush-nav-1);
}

#brush-nav-2 {
    background-image: url('/res/brushes/brush_nav_2.webp');
    height: calc(var(--navbar-height) * 1.4);
    width: calc(var(--navbar-height) * 1.4 * 422 / 238);
    top: calc(var(--navbar-height) * -0.2);
    left: calc(100% / 7 * 1.5 - var(--navbar-height) * 1.4 * 422 / 238 / 2);
    clip-path: url(#clip-brush-nav-2);
}

#brush-nav-3 {
    background-image: url('/res/brushes/brush_nav_3.webp');
    height: calc(var(--navbar-height) * 1.4);
    width: calc(var(--navbar-height) * 1.4 * 1001 / 262);
    top: calc(var(--navbar-height) * -0.2);
    left: calc(100% / 7 * 2.5 - var(--navbar-height) * 1.4 * 1001 / 262 / 2);
    clip-path: url(#clip-brush-nav-3);
}

#brush-nav-4 {
    background-image: url('/res/brushes/brush_nav_4.webp');
    height: calc(var(--navbar-height) * 1.4);
    width: calc(var(--navbar-height) * 1.4 * 544 / 224);
    top: calc(var(--navbar-height) * -0.2);
    left: calc(100% / 7 * 3.5 - var(--navbar-height) * 1.4 * 544 / 224 / 2);
    clip-path: url(#clip-brush-nav-4);
}

#brush-nav-5 {
    background-image: url('/res/brushes/brush_nav_5.webp');
    height: calc(var(--navbar-height) * 1.4);
    width: calc(var(--navbar-height) * 1.4 * 873 / 235);
    top: calc(var(--navbar-height) * -0.2);
    left: calc(100% / 7 * 4.5 - var(--navbar-height) * 1.4 * 873 / 235 / 2);
    clip-path: url(#clip-brush-nav-5);
}

#brush-nav-6 {
    background-image: url('/res/brushes/brush_nav_6.webp');
    height: calc(var(--navbar-height) * 1.4);
    width: calc(var(--navbar-height) * 1.4 * 572 / 256);
    top: calc(var(--navbar-height) * -0.2);
    left: calc(100% / 7 * 5.5 - var(--navbar-height) * 1.4 * 572 / 256 / 2);
    clip-path: url(#clip-brush-nav-6);
}

#brush-nav-7 {
    background-image: url('/res/brushes/brush_nav_7.webp');
    height: calc(var(--navbar-height) * 1.4);
    width: calc(var(--navbar-height) * 1.4 * 835 / 252);
    top: calc(var(--navbar-height) * -0.2);
    left: calc(100% / 7 * 6.5 - var(--navbar-height) * 1.4 * 835 / 252 / 2);
    clip-path: url(#clip-brush-nav-7);
}

.brush-mobile {
    display: none;
}

#nav-mobile {
    position: fixed;
    width: 100%;
    align-items: center;
    justify-items: center;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: none;
    opacity: 0;
    transition: opacity .8s;
}

#nav-mobile.visible {
    opacity: 1;
    pointer-events: all;
}

#nav-mobile > table {
    width: 100%;
}

#nav-mobile td {
    position: relative;
    text-align: center;
    height: var(--navbar-height);
    box-sizing: border-box;
}

table > * {

    border-spacing: 0;
}

#nav-mobile .language-container {
    flex-direction: row;
    column-gap: 15px;
    margin-right: 0;
    width: 100%;
    justify-content: center;
}

#nav-mobile .bar-logo {
    margin: 0;
}

#bar-close {
    position: absolute;
    right: var(--margin-full);
    top: var(--margin-full);
}

#bar-close,
#bar-open {
    width: calc(var(--navbar-height) - 2 * var(--margin-full));
    height: calc(var(--navbar-height) - 2 * var(--margin-full));
}

#bar-open,
#bar-open-counter {
    margin: var(--margin-full);
}

#bar-open-counter {
    width: calc(var(--navbar-height) - 2 * var(--margin-full));
}


.bar-logo {
    height: 60px;
    width: 100px;
}

.nav-appear {
    transition: opacity 1s;
    transition-delay: 0.5s;
}

.nav-appear:not(.nav-appeared) {
    opacity: 0;
    pointer-events: none;
    transition-delay: 0s;
}

.nav-appear.nav-appeared {
    opacity: 1;
}

#footer a,
.menu-link a {
    color: white;
    --link-underline-color: white;
}

.menu-link a {
    font-size: var(--text-size-bigger);
    font-weight: 700;
    user-select: none;
}

.language-container {
    width: 30px;
    display: inline-flex;
    flex-direction: column;
}

.language-container > a {
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    color: var(--text-color-negative);
    user-select: none;
}

.language-en.selected,
.language-it.selected {
    font-weight: 900;
    pointer-events: none;
}

.language-en:not(.selected):before,
.language-it:not(.selected):before {
    background-color: var(--text-color-negative);
}


#brush-mobile-1 {
    background-image: url('/res/brushes/brush_menu.webp');
    clip-path: url(#clip-brush-mobile-1);
}

#brush-mobile-2 {
    background-image: url('/res/brushes/brush6.webp');
    clip-path: url(#clip-brush-mobile-2);
}

#brush-mobile-3 {
    background-image: url('/res/brushes/brush5.webp');
    clip-path: url(#clip-brush-mobile-3);
}

#brush-mobile-4 {
    background-image: url('/res/brushes/brush4.webp');
    clip-path: url(#clip-brush-mobile-4);
}

.section-title {
    padding: var(--padding-full);
    display: flex;
    align-items: center;
    align-self: stretch;
}

.section-title > .section-title-text {
    font-size: var(--text-size-biggest);
}

.subpage-title {
    font-size: min(100px, 16vw);
    font-weight: 900;
    text-transform: uppercase;
    color: var(--text-color-negative);
    height: min(300px, 40vw);
    width: 100%;
    background-image: url("/res/brushes/subpage.webp");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center bottom;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: min(50px, 8vw);
}

.subpage-subtitle {
    font-size: var(--text-size-biggest);
    margin: calc(2 * var(--margin-full));
    padding: calc(0.3 * var(--text-size-biggest));
    background-image: url("/res/brushes/brush3.webp");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--text-color-negative);
    text-align: center;
    align-self: stretch;
}

#footer {
    display: flex;
    padding: var(--navbar-height) var(--padding-full) var(--padding-full);
    background-image: url("/res/brushes/bottom_bar.webp");
    background-size: auto 100%;
    background-repeat: repeat-x;
    justify-content: space-evenly;
    align-items: center;
    color: var(--text-color-negative);
    font-size: 1.2em;
}

#footer-poliedro,
#footer-sponsor {
    width: 40vw;
    display: flex;
    flex-direction: column;
}

#footer-poliedro {
    align-items: start
}

#footer-sponsor {
    align-items: end
}

#footer-sponsor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

#handle-container {
    display: flex;
    padding: var(--padding-half);
}

#handle-text {
    padding: var(--padding-full);
}

.handle-icon {
    margin: var(--margin-full) var(--margin-half);
    width: 30px;
    height: 30px;
}

.handle-icon:first-child {
    margin-left: var(--margin-full);
}

.handle-icon:last-child {
    margin-right: var(--margin-full);
}

#handle, #hashtag {
    font-size: var(--text-size-bigger);
    padding: var(--padding-full);
}

#footer-sponsor > a {
    width: 48%;
    margin: 0.7%;
    aspect-ratio: 2;
}

#footer-sponsor > a.poli {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#footer-sponsor > a > svg {
    width: 100%;
    height: 100%;
}

.space {
    flex-grow: 1;
    outline: none;
    background: transparent;
}

.section-title {
    padding: var(--padding-full);
    display: flex;
    align-items: center;
    align-self: stretch;
}

.section-title > .section-title-text {
    font-size: var(--text-size-biggest);
}


@media screen and (max-width: 720px) {
    body {
        font-size: 18px;
    }

    .simple-text {
        padding: 0;
    }

    :root {
        --margin-full: 4px;
        --margin-half: 2px;
        --padding-full: 4px;
        --padding-half: 2px;
    }

    .brush-mobile {
        display: block;
    }


    #nav-banner > .bar-logo {
        margin: 0;
    }

    #nav-banner > .menu-link,
    #nav-banner > .space:not(.hidden),
    #nav-banner > .language-container {
        display: none;
    }

    #nav-banner > .hidden {
        display: block;
    }

    #nav-banner {
        display: flex;
    }

    #brush-nav-2,
    #brush-nav-4,
    #brush-nav-6 {
        display: none;
    }

    #footer {
        flex-direction: column;
        align-items: stretch;
        padding-left: calc(var(--margin-full) * 4);
        padding-right: calc(var(--margin-full) * 4);
    }

    #handle-text {
        text-align: center;
    }


    #footer-poliedro,
    #footer-sponsor {
        width: auto;
        align-items: center;
    }

    #footer-sponsor > a {
        width: 30%;
        margin: 0.7%;
        aspect-ratio: 2;
    }
}

@media screen and (max-width: 480px) {
    body {
        font-size: 15px;
    }

    :root {
        --margin-full: 4px;
        --margin-half: 2px;
        --padding-full: 4px;
        --padding-half: 2px;
    }

}

@media screen and (min-width: 1300px) {

    .block-container {
        margin: 0 10%;
    }

}