:root {
    --fixed-pause-height: 300px;
}

body {
    box-sizing: border-box;
    overflow-x:hidden;
}

html {
    overflow-x: hidden;
}
#brush-nav-back {
    opacity: 0;
}

#height-probe  {
    height: 100vh;
    width: 0;
    position: absolute;
}

#nav-banner {
    /*transform: translateY(-100%);*/
    /*transition: transform 0.5s;*/
}

#nav-banner.nav-drop {
    transform: translateY(0);
}

.section-title {
    padding: var(--padding-full);
    display: flex;
    align-items: center;
    align-self: stretch;
}

.section-title>.section-title-text {
    font-size: var(--text-size-biggest);
}

.section-more {
    font-size: var(--text-size-big);
    padding: var(--padding-half);
    display: flex;
    align-items: center;
}

.section-more-icon {
    width: 2em;
    height: 2em;
    text-align: center;
    margin: 0 0 0 var(--margin-full);
}

.index-section {
    height: calc(100vh - var(--navbar-height));
    width: 80%;
    margin: 0 10%;
    padding: calc(3 * var(--padding-full));
    box-sizing: border-box;
}

.index-section[space] {
    margin-top: 0;
    margin-bottom: var(--fixed-pause-height);
}


.index-section.section-fixed {
    position: fixed;
    top: var(--navbar-height);
}

.index-section.section-passed {
    margin-top: var(--fixed-pause-height);
    margin-bottom: 0;
}

.index-section-space {
    display: none;
    height: calc(100vh - var(--navbar-height) + var(--fixed-pause-height));
}

#title-space {
    height: calc(100vh + var(--navbar-height));
    width: 100vw;
    margin: 0;
    padding: 0;
}

#title {
    height: 200vh;
    width: 100vw;
    position: absolute;
    overflow: hidden;
    margin: 0;
    padding: 0;
    top: 0;
    pointer-events: none;
}

#scroll-down {
    width: 100%;
    position: absolute;
    bottom: calc(2 * var(--margin-full));
    left: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1.5s;
}


@keyframes jump-scroll-text {
    90% {
        transform: translateY(0);
    }
    92% {
        transform: translateY(calc(0px - var(--text-size-big) / 4));
    }
    94% {
        transform: translateY(0);
    }
    96% {
        transform: translateY(calc(0px - var(--text-size-big) / 4));
    }
    98% {
        transform: translateY(0);
    }
}

#scroll-down > span {
    font-size: var(--text-size-big);
    font-weight: 700;
    margin: var(--margin-half);
    color: var(--text-color-negative);
    animation-name: jump-scroll-text;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes float-arrow {
    0% {
        transform: translateY(calc(var(--text-size-big) / 4));
    }

    50% {
        transform: translateY(calc(0px - var(--text-size-big) / 4));
    }

    100% {
        transform: translateY(calc(var(--text-size-big) / 4));
    }
}

#scroll-down > svg {
    width: var(--text-size-bigger);
    height: var(--text-size-bigger);
    margin-top: var(--margin-half);
    color: #FFFFFF;
    animation-name: float-arrow;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.45, 0.25, 0.60, 0.95);
}


#pap,
#events {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

#events-title {
    transition: opacity 1s;
}

#events-title.hidden {
    opacity: 0;
}

#pap-container,
#events-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.pap,
.event {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30%;
    position: relative;
    transition: opacity .8s, transform .5s, height .5s, width .5s, background-image .5s;
    cursor: pointer;
}


.pap.hidden,
.event.hidden {
    opacity: 0;
}

.pap.highlighted,
.event.highlighted {
    transform: scale(1.1, 1.1);
    color: var(--text-color-negative);
}

.pap.highlighted svg,
.event.highlighted svg {
    --svg-fill-color: 255, 255, 255 !important;
    --svg-stroke-color: 255, 255, 255 !important;
}

.pap-background,
.event-background {
    width: calc(100% + 3 * var(--margin-full));
    height: calc(100% + 5 * var(--margin-full));
    top: calc(-2.5 * var(--margin-full));
    left: calc(-1.5 * var(--margin-full));
    position: absolute;
    z-index: -1;
    opacity: 0;
    transition: opacity .5s;
    background-size: 100% 100%;
}

#pap-background-1,
#event-background-1 {
    background-image: url("/res/brushes/brush_event_1_horz.webp");
}

#pap-background-2,
#event-background-2 {
    background-image: url("/res/brushes/brush_event_2_horz.webp");
}

#pap-background-3,
#event-background-3 {
    background-image: url("/res/brushes/brush_event_3_horz.webp");
}

.pap.highlighted>.pap-background,
.event.highlighted>.event-background {
    opacity: 1;
}

.pap-img,
.event-img {
    clip-path: url(#clip-brush-fixed);
    position: relative;
    height: 100%;
    width: 30vw;
    margin: var(--margin-full);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-size: cover;
    background-position: center;
}

.pap-info,
.event-info {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    align-self: stretch;
}

.pap-title,
.event-title {
    color: var(--text-color-negative);
    text-align: center;
}


.pap-info>span,
.event-info>span {
    display: flex;
    align-items: center;
    height: calc(var(--text-size-huge) * 1.5);
    transition: opacity 0.5s, height 0.5s;
}

.pap-info-text,
.event-info-text {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 0;
    flex-grow: 1;
    font-size: var(--text-size-big);
    line-height: var(--text-size-normal);
    margin: var(--margin-half) var(--margin-full);
}

.pap-icon,
.event-icon {
    width: var(--text-size-big);
    height: var(--text-size-big);
    margin: var(--margin-full);
}




#goal {
    display: flex;
    flex-direction: column;
}

#goal-content {
    flex-grow: 1;
    padding-bottom: var(--margin-full);
    overflow: hidden;
}

#goal-img {
    background-image: url("/res/goals.jpg");
    background-position: center;
    display: block;
    background-size: 120% auto;
    background-repeat: no-repeat;
    clip-path: url(#clip-brush-fixed-big);
}

#goal-text {
    display: flex;
    flex-direction: column;
}
.goal-paragraph,
.goal-subtitle {
    padding: var(--margin-full) calc(var(--margin-full) * 7);
    display: block;
    font-size: var(--text-size-big);
}
.goal-subtitle {
    padding: calc(2 * var(--margin-full)) calc(var(--margin-full) * 7);
    font-size: var(--text-size-bigger);
}



#sponsor-background {
    position: absolute;
    background-image: url("/res/sponsor_banner.webp");
    background-size: auto 100%;
    background-position: center;
    background-repeat: repeat-x;
    margin-top: calc((100vh - var(--navbar-height)) * 0.1);
    width: 100vw;
    height: calc((100vh - var(--navbar-height)) * 0.8);
    display: none;
    z-index: -1;
}

#sponsor {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    justify-content: space-evenly;
    padding: 10vh 0;
}

#sponsor-title {
    font-size: var(--text-size-biggest);
    text-align: center;
    max-width: 800px;
    color: var(--text-color-negative);
}

#sponsor-name {
    font-size: var(--text-size-huge);
    text-align: center;
    max-width: 400px;
    font-weight: 900;
    color: var(--text-color-negative);
}

#sponsor-text {
    font-size: var(--text-size-big);
    color: var(--text-color-negative);
    max-width: 800px;
    text-align: center;
}


.pap-card {
    margin: var(--margin-full);
    width: calc(28vw - var(--padding-full));
    height: 60vh;
    display: flex;
    flex-direction: column;
}

.pap-card-title {
    font-size: var(--text-size-biggest);
    padding: var(--padding-full);
    display: block;
}

.pap-card-box {
    margin: var(--margin-full);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.pap-card-box.pap-second {
    flex-grow: 1;
}

.pap-card-comment {
    font-size: var(--text-size-big);
    padding: var(--padding-full);
    text-align: center;
}

.pap-card-subtitle {
    padding: var(--padding-full);
    font-size: var(--text-size-bigger);
}

.pap-button {
    padding: var(--padding-full);
    margin: var(--margin-full);
    font-size: var(--text-size-bigger);
}


#progress {
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -3;
}

#crew-trail {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30%;
    /*!*transform: scale(0, 1);*!*/
    /*transition: transform .5s;*/
    /*transform-origin: bottom left;*/
}

@media screen and (min-aspect-ratio: 4/3) {

    :root {
        --fixed-pause-height: 0px;
    }


    #pap-container,
    #events-container {
        flex-direction: row;
    }

    .pap,
    .event {
        flex-direction: column;
        height: unset;
        width: 32%;
    }

    #pap-background-1,
    #event-background-1 {
        background-image: url("/res/brushes/brush_event_1.webp");
    }
    #pap-background-2,
    #event-background-2 {
        background-image: url("/res/brushes/brush_event_2.webp");
    }
    #pap-background-3,
    #event-background-3 {
        background-image: url("/res/brushes/brush_event_3.webp");
    }

    .pap-img,
    .event-img {
        position: relative;
        height: 20vh;
        width: 30vh;
        margin: var(--margin-full);
    }

    .pap-info,
    .event-info {
        width: unset;
    }

    .pap-title,
    .event-title {
        font-size: var(--text-size-bigger);
    }

    .pap-info-text,
    .event-info-text {
        font-size: var(--text-size-bigger);
    }

    .pap-icon,
    .event-icon {
        width: var(--text-size-bigger);
        height: var(--text-size-bigger);
        margin: var(--margin-full);
    }


}


@media screen and (max-aspect-ratio: 1/1) {

    .pap:not(.highlighted),
    .event:not(.highlighted) {
        height: var(--navbar-height);
    }

    .pap.highlighted,
    .event.highlighted {
        width: calc(100% - 4 * var(--margin-full));
    }

    .pap.highlighted,
    .event.highlighted {
        transform: scale(1, 1);
        color: var(--text-color-negative);
    }

    .pap:not(.highlighted)>.pap-img,
    .pap:not(.highlighted)>.pap-img {
        height: 100%;
    }

    .pap:not(.highlighted)>.pap-info>span:nth-child(2),
    .pap:not(.highlighted)>.pap-info>span:nth-child(3),
    .pap:not(.highlighted)>.pap-info>span:nth-child(4),
    .event:not(.highlighted)>.event-info>span:nth-child(2),
    .event:not(.highlighted)>.event-info>span:nth-child(4) {
        height: 0;
        opacity: 0;
    }
}




/* Graphics */




#logo {
    position: absolute;
    left: 0;
    top: 17.5vh;
    display: block;
    width: 100vw;
    height: 65vh;
    z-index: 1;
}

@media screen and (max-aspect-ratio: 1/1) {
    #logo {
        top: 0;
        left: 12.5vw;
        height: 100vh;
        width: 75vw;
    }
}

#brush-1 {
    background-image: url('/res/brushes/brush1.webp');
    clip-path: url(#clip-brush-1);
}

#brush-2 {
    background-image: url('/res/brushes/brush2.webp');
    clip-path: url(#clip-brush-2);
}

#brush-3 {
    background-image: url('/res/brushes/brush3.webp');
    clip-path: url(#clip-brush-3);
}

#brush-4 {
    background-image: url('/res/brushes/brush4.webp');
    clip-path: url(#clip-brush-4);
}

#brush-5 {
    background-image: url('/res/brushes/brush5.webp');
    clip-path: url(#clip-brush-5);
}

#brush-6 {
    background-image: url('/res/brushes/brush6.webp');
    clip-path: url(#clip-brush-6);
}

#brush-7 {
    background-image: url('/res/brushes/brush7.webp');
    clip-path: url(#clip-brush-7);
}



@media screen and (max-aspect-ratio: 2/3) {

    .pap-img,
    .event-img {
        width: 40vw;
    }
}

@media screen and (max-width: 1000px) {
    @media screen and (max-aspect-ratio: 1/1) {
        .pap-cards {
            flex-direction: column;
        }

        .pap-card {
            width: 90%;
            flex-direction: row;
            height: calc(33% - 2 * var(--margin-full));
        }

        .pap-card-piece-first {
            flex-basis: 0;
            flex-grow: 1;
        }

        .pap-card-box.pap-second {
            flex-basis: 0;
            flex-grow: 1;
        }
    }
}

@media screen and (max-width: 720px) {

    .pap,
    .event {
        width: 100%;
        padding: 0 10px;
        height: 33.3%;
    }



    #pap-container,
    #events-container {
        overflow: hidden;
    }
    .section-more.collapsible {
        display: none;
    }

    .section-more-icon {
        width: 2.5em;
        height: 2.5em;
    }

    .index-section {
        margin-left: 10px;
        margin-right: 10px;
        width: calc(100% - 20px)
    }

    .pap-info,
    .event-info {
        flex-basis: 0;
    }

    #sponsor {
        padding-left: 5vw;
        padding-right: 5vw;
    }

}

@media screen and (max-width: 480px) {

    #sponsor {
        font-size: 0.8em;
    }

    .index-section {
        margin-left: 5px;
        margin-right: 5px;
        width: calc(100% - 10px);
    }
    .pap-img,
    .event-img {
        width: 30vw;
    }

    .pap-info-text,
    .event-info-text {
        font-size: var(--text-size-normal);
    }

    .pap-card {
        flex-direction: column;
    }

    .pap-card-title {
        font-size: var(--text-size-bigger);
    }
    .pap-card-subtitle {
        font-size: var(--text-size-big);
    }
    .pap-card-comment {
        font-size: var(--text-size-normal);
    }
}

@media screen and (min-width: 1200px) {
    #sponsor {
        font-size: 1.4em;
    }
}

#sponsor-logo {
    width: min(min(500px, 55vh), 80%);
}